# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Kaggle credentials
kaggle.json

# Environment variables
.env

# Large ML files
*.h5
*.keras
*.pth
*.pt

# Datasets
data/
datasets/

# OS files
.DS_Store
Thumbs.db
